.main {
    flex: 1;
    background-color: #111;
    padding: 1rem;
}

.star {
    color: yellow;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0 0 5px yellow;
}

.header {
    color: #03c4da;
    font-size: 1.2rem;
    font-weight: 700;
}

.fake_popular_movie {
    height: 10rem;
    width: 10rem;
    border: 3px solid #222;
    background-color: #333;
    border-radius: 5px;
    margin-right: .5rem;
}

.main_container {
    margin-top: 2rem;
}

.movies_list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: .7rem;
}



.header_container {
    display: flex;
    flex-direction: row;
}

.input {
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 1rem;
    min-width: 10rem;
    border-radius: 5px;
    color: #03c4da;
    font-weight: 700;
    font-size: 1.2rem;
}



.guideline {
    color: rgba(255, 255, 255, 0.8);
}

.button_container {
    margin-top: 1rem;
    width: 100%;
}